table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th{
    text-align: left;
    border: 1px solid #dddddd;
   padding: 8px;
}
tr:nth-child(2n-1){
    background-color: #a78484;
}
